.patient__table {
  max-width: 950px;
  min-height: 350px;
  border-radius: 24px;
  background-color: white;
  box-shadow: rgba(237, 193, 193, 0.542) 0px 10px 30px;
}

.patient__page {
  background-color: #2d323ae7;
  min-height: 100vh;
  padding-top: 20vh;
}
