.patient__table {
  max-width: 950px;
  min-height: 350px;
  border-radius: 24px;
  background-color: rgba(255, 240, 240, 0.905);
  box-shadow: rgba(237, 193, 193, 0.542) 0px 7px 20px;
}

.patient__page {
  background-color: #2d323ae7;
  min-height: 100vh;
  padding-top: 20vh;
}
